.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.appmobile {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
}

.headerdesktop {
  flex: 0 0;
  min-width: 250px;
  /* min-height: 100%; */
  background-color: #ccc;
  padding: 20px;
}

.headermobile {
  /* position: absolute; */
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ccc;
  align-items: center;
  border-bottom: 10px;
  border-color: #333;
  border-style: solid;
}

.headermobilespacing {
  padding-left: 15px;
  padding-right: 15px;
}

.poster {
  min-width: 157.5px;
  height: 210px;
  border-radius: 10px;
  object-fit: cover;
  background-color: #bbb;
  z-index: 2;
  position: relative;
}

.episodelist {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.episode {
  flex: 0 0;
  width: 95%;
  max-width: 1000px;
  min-height: 250px;
  /* padding:  */
  background-color: #ccc;
  position: relative;
  overflow:hidden;
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 10px;
}

.episodecontents{
  width: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: row;
  overflow:hidden;
  gap: 20px;
}

.episodedesccontents{
  min-width: 0;
}

.episodetitle{
  font-size: 28px;
  margin-top: 0px;
  margin-bottom: 0px;
  /* width:100%; */
  min-width: 0;
  white-space: nowrap;
}

.episodesubtitle{
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
}

.episodedesc{
  font-size: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  min-width: 0;
}

.svg {
  top:0.125em;
  position: relative;
}

.tfoindex {
  position: absolute;
  width: 100%;
  text-align: right;
  right: 20px;
  top: 10px;
  font-size: 250px;
  line-height: 240px;
  color: #bbb;
  overflow: hidden;
  z-index: 1;
  /* margin: -20px; */
  /* margin-right: 20px;2 */
}

ul.links {
  list-style-type: none;
  font-size: 28px;
  padding-left: 8px;
}

ul.links>li {
  padding-bottom:16px;
}

.paddedspan {
  padding-left: 8px;
}

.disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  user-select: none;
}

a>img:hover {
  opacity: 1;
}