.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100vh;
}

.header {
  flex: 0 0;
  min-width: 250px;
  /* min-height: 100%; */
  background-color: #ccc;
}

.episodelist {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.episode {
  flex: 0 0;
  width: 1000px;
  min-height: 250px;
  background-color: #ccc;
}